body {
  min-height: 100vh;
  text-align: justify;
}

.file-explorer .file,
.file-explorer .folder {
  cursor: pointer;
}

.file-explorer span {
  font-size: 24px;
}
.file-explorer .folder span {
  font-weight: 600;
}
.file-explorer .file span {
  font-weight: 400;
}
.work-block {
  text-transform: capitalize;
  text-align: justify;
}
.my-2 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 4px;
}
.mt-2 {
  margin-top: 4px;
}
.color-black {
  color: #000;
}
.color-grey {
  color: #505050;
}
